@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.trasitionStyle {
  transition: transform 0.4s ease-in-out;
}

.trasitionStyle:hover {
  transform: scale(1.1);
}
.trasitionStyle_newCategary {
  transition: transform 0.5s ease-in-out;
}

.trasitionStyle_newCategary:hover {
  transform: scale(1.8);
}